* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1E1E1E;
    overflow-x: hidden;
}

p {
  color: #ffffff;
}

#Lorem {
    color: aliceblue;
}

/* Top //////////////////////////////////////////////// */
#Top {
    width: 100%;
    height: 100vh;
}

#videoBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}

#Top_Content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

#Top_Text {
    background-color: rgba(94, 94, 94, 0.5);
    backdrop-filter: blur(10px);
    /* backdrop-filter: invert(80%); */
    color: #ffffffda;
    padding: 20px 10px;
    border-radius: 10px;
    /* text-decoration: underline; */
    font-family: 'Arial Narrow Bold', sans-serif;
}

#Top_Button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    cursor: pointer;
    /* color: #ffffff; */
    font-size: 20px;
}

#Top_Button:hover {
    text-decoration: underline;
}

/* AlwaysOnTop ///////////////////////////////////////////////////////////////////////// */

#AlwaysOnTop {
   /* width: 100%;  mis en commentaire mais il faut le réactivé bg */
    height: auto;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 15px;
}

#AlwaysOnTop_Logo {
    max-width: 120px;
}

#AlwaysOnTop_Button {
    background-color: #D9D9D9;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    margin-right: 30px;
    border: #5a5a5a52 1px solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#AlwaysOnTop_Button:hover {
    text-decoration: underline;
}


/* Banner ///////////////////////////////////////////////////////////////////////// */

#Banner {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  margin-bottom: 50px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* Projets //////////////////////////////////////////////////////////////////// */

#Projets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  gap: 35px;
  color: white;
}
#Projets_Carroussel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 768px) {
  #Projets_Carroussel {
    grid-template-columns: repeat(2, 1fr);
  }
}

.Projet {
  width: 80%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.Projet_div {
  background-color: #151515;
  padding: 10px 0px 30px 0px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.Projet_div:nth-child(1), .Projet_div:nth-child(3), .Projet_div:nth-child(5) {
  /* margin-top: 40px; */
  background-color: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(10px);
  animation: backgroundChange1 3s infinite alternate ease-in-out;
}
.Projet_div:nth-child(2), .Projet_div:nth-child(4), .Projet_div:nth-child(6) {
  /* margin-top: 40px; */
  background-color: rgba(183, 0, 255, 0.274);
  backdrop-filter: blur(10px);
  animation: backgroundChange2 3s infinite alternate ease-in-out;
}

@media (min-width: 768px) {
  .Projet_div:nth-child(2), .Projet_div:nth-child(3), .Projet_div:nth-child(6) {
    /* margin-top: 40px; */
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    animation: backgroundChange1 3s infinite alternate ease-in-out;
  }
  .Projet_div:nth-child(1), .Projet_div:nth-child(4), .Projet_div:nth-child(5) {
    /* margin-top: 40px; */
    background-color: rgba(183, 0, 255, 0.274);
    backdrop-filter: blur(10px);
    animation: backgroundChange2 3s infinite alternate ease-in-out;
  }

  /* .Projet_div:nth-child(2) {
    margin-top: 40px;
  } */
}
.Projet_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre le texte verticalement et horizontalement */
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgba(94, 94, 94, 0.5);
  backdrop-filter: blur(10px);
  font-weight: 700;
}

@keyframes backgroundChange1 {
  0% {
    background-color: rgba(255, 255, 255, 0.356); /* Couleur initiale */
  }
  100% {
    background-color: rgb(255, 255, 255); /* Couleur de transition */
  }
}

@keyframes backgroundChange2 {
  0% {
    background-color: rgb(255, 255, 255); /* Couleur de transition */
  }
  100% {
    background-color: rgba(255, 255, 255, 0.356); /* Couleur initiale */
  }
}

/* LinkBanner /////////////////////////////////////////////////////////////////////////////////////////////// */

#LinkBanner{
  width: 100%;
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}

.LinkBanner_div{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.LinkBanner_Img {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 20px;
}

.LinkBanner_p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 20px;
  display: ruby;
}

#LinkBanner_a {
  /* visibility: hidden; */
  display: none;
}

/* Commentaire Form ///////////////////////////////////////////////////////////////////// */

#CommentaireForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #151515;
}
#CommentaireForm_title {
  color: #ffffff;
}
#CommentaireForm_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 16px;
  text-align: center;
  margin: 20px 0px;
  align-items: center;
}
#CommentaireForm_name {
  text-align: center;
  width: 50%;
  max-width: 350px;
}
#CommentaireForm_text {
  width: 80%;
  min-height: 70px;
  text-align: center;
}
#CommentaireForm_button {
  padding: 5px 10px;
  border-radius: 10px;
}

/* CommentaireList ////////////////////////////////////////////////////////////////////////// */

#CommentairesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin: 40px 0px;
}
#CommentairesList_refresh {
  display: none;
}

.CommentairesList_Commentaires {
  background-color: #1F1F1F;
  width: 70%;
  border-radius: 10px;
}
.CommentairesList_h2 {
  background-color: #B8B8B8;
  width: fit-content;
  padding: 4px;
  border-radius: 10px 0px 10px 0px;
}
.CommentairesList_p {
  display: flex;
  justify-content: center;
  padding: 10px 10px 30px 10px;
  word-wrap: anywhere;
}

/* Poppup //////////////////////////////////////////////////////////////// */

/* #pseudoLeft($width, $height) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  top: 50%;
  transform: translateY(-50%);
  left: -4 - $width;
} */

/* #pseudoRight($width, $height) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  top: 50%;
  transform: translateY(-50%);
  right: -4 - $width;
} */


#containerPopup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.2s;
  z-index: 90000000;
}

#contentPopup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  background-color: white;
  text-align: center;
  max-width: 100%;
  width: 90%;
  height: 60%;
  padding: 2em 3em;
  border: 1px solid #f6f6f6;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#closePopup {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 10;
  transition: transform 0.15s ease-in;
}
#closePopup:hover {
  transform: scale(1.1);
}

/* Form /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#contactForm_name {
  width: 100%;
  max-width: 600px;
}
#contactForm_email {
  width: 100%;
  max-width: 600px;
}
#contactForm_message {
  width: 100%;
  max-width: 1250px;
}